.binaryTree {
  transform: scale(0.8);
}

.glow path {
  fill: black;
  stroke: none;
}

.hiddenPath {
  fill: none;
  stroke: none;
}

.clipPath {
  stroke-width: 6px;
  fill: none;
  stroke: var(--primary-color);
}

.fill path {
  fill: var(--primary-color);
  stroke: none;
}

.colorPatches {
  opacity: 0;
  /* transition: opacity 0.1s ease-in-out; */
}

.colorPatches.allOn {
  opacity: 1;
}

.colorPatches rect {
  fill: var(--primary-color);
  stroke: none;
}

/* .allOn g,
.allOn path {
  transition: opacity 0.2s ease-in-out;
} */

.opacityTransition {
  transition: opacity 0.2s ease-in-out;
}
