.effectsContainer {
  position: absolute;
  top: 628px;
  left: 67px;
  transform: scale(0.65);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.effectsRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.effectsRow:first-of-type {
  margin-right: 40px;
}

.fxLabel {
  font-size: 26px;
  align-self: flex-start;
  margin-bottom: -4px;
}

.effectSpacer {
  width: 35px;
}

.miniSpacer {
  width: 8px;
}
