.effectsContainer {
  position: absolute;
  top: 628px;
  left: 67px;
  transform: scale(0.65);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.effectsRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.effectsRow:first-of-type {
  margin-right: 43px;
}

.fxLabel {
  font-size: 26px;
  align-self: flex-start;
  margin-bottom: -4px;
}

.effectSpacer {
  width: 35px;
}

.miniSpacer {
  width: 10px;
}

.reverbContainer {
  position: absolute;
  left: 280px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.reverbControlContainer {
  height: 3.5px;
  border-radius: 3.5px;
  width: 65px;
  background-color: var(--gray);
  touch-action: none;
  cursor: grab;
  position: relative;
  pointer-events: all;
}

.reverbControl {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  pointer-events: none;
}
