body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-switch-handle {
  background: transparent !important;
  border: 2px solid #ff47ff !important;
}

.react-switch-bg {
  background: transparent !important;
  border: 1.7px solid #666666 !important;
}

p,
td,
th,
img {
  user-select: none;
}
