.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 20px;
  width: 100%;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playStopButton {
  cursor: pointer;
  pointer-events: all;
}

.voices {
  margin-top: -46px;
  padding-left: 24px;
  display: flex;
  gap: 122px;
  width: 961.6px;
}

.infoLayer {
  position: absolute;
  inset: 0;
  background-color: transparent;
  pointer-events: none;
  opacity: 0.75;
}

.lfoControls {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 160px;
  left: 174px;
  gap: 124px;
  width: 434px;
}

.lfoControl {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: opacity 0.3s ease-in-out;
}
