.modMatrix {
  font-size: 12px;
  position: absolute;
  left: 282px;
  top: 204px;
  width: 254px;
  height: 290px;
  border-collapse: collapse;
  table-layout: fixed;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.modMatrix.active {
  opacity: 1;
}

.modMatrix th,
.modMatrix td {
  border: 1px solid var(--secondary-color);
  padding: 2px;
  text-align: center;
  touch-action: none;
  font-weight: 400;
}

.noBorder {
  border: none !important;
}

.cellWidth {
  width: 36px;
}

.modCell {
  opacity: 0.65;
  cursor: grab;
  position: relative;
}

.modValue {
  position: absolute;
  inset: 0;
  background-color: var(--secondary-color);
  opacity: 0.65;
}

.modValueText {
  mix-blend-mode: color-burn;
}
